<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greengram3.dm.DmMapper">
    <insert id="insDm" useGeneratedKeys="true" keyProperty="idm">
        INSERT INTO t_dm(last_msg)
        VALUES (NULL)
    </insert>

    <!-- t_dm_user-->
    <insert id="insDmUser">
        INSERT INTO t_dm_user
        SET idm = #{idm}
        , iuser = #{iuser}
    </insert>

    <select id="selDmMsgAll">
        select A.seq, A.msg, A.created_at AS createdAt, B.iuser AS writerIuser, B.pic AS writerPic
        from t_dm_msg AS A
        join t_user AS B
        on A.iuser = B.iuser
        where A.idm = #{idm}
        order by A.seq desc
        limit #{startIdx}, #{rowCount}
    </select>
</mapper>